# Python
__pycache__/
*.pyc
.venv/
venv/

# fastf1 cache
f1_cache/

# Data
data/raw/*
data/processed/*
data/processed/*
!data/processed/figures/
!data/processed/figures/**
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
